.col-content-mid{
  margin : auto !important;
}

.margin-0-padding-0{
  margin : 0;
  padding : 0;
}

.margin-0-padding-top-0-width-100{
  padding-top: 0px;
  margin: 0px;
  width: 100%;
}

.green-pink{
  background: -webkit-linear-gradient(#1EBBB4, #E0C1E1);
  background: -o-linear-gradient(#1EBBB4, #E0C1E1);
  background: linear-gradient(#1EBBB4, #E0C1E1);
}

.pink-green{
background: -webkit-linear-gradient(#E0C1E1, #1EBBB4);
background: -o-linear-gradient(#E0C1E1, #1EBBB4);
background: linear-gradient(#E0C1E1, #1EBBB4);
}

.green-white{
  background: -webkit-linear-gradient(#1EBBB4, white);
  background: -o-linear-gradient(#1EBBB4, white);
  background: linear-gradient(#1EBBB4, white);
}

.green-pink-green-white{
   background: -webkit-linear-gradient(#1EBBB4, #E0C1E1, #1EBBB4, white);
   background: -o-linear-gradient(#1EBBB4, #E0C1E1, #1EBBB4, white);
   background: linear-gradient(#1EBBB4, #E0C1E1, #1EBBB4, white);
}

.width-60-height-60{
  width: 60px !important;
  height: 60px !important;
}

.position-fixed{
  position: fixed;
}

.margin-l-5{
  margin-left: 5px;
}

page-home {


  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #002a3e;
  }

  .flb {
    background-color: #ff5335;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 6500ms linear infinite both;
    animation-delay: 1s;
  }
  @keyframes pulse {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }





  // Search bar animation animation

  // input {
  // 	outline: none;
  // }
  // input[type=search] {
  // 	-webkit-appearance: textfield;
  // 	-webkit-box-sizing: content-box;
  // 	font-family: inherit;
  // 	font-size: 100%;
  // }
  // input::-webkit-search-decoration,
  // input::-webkit-search-cancel-button {
  // 	display: none;
  // }
  //
  //
  // input[type=search] {
  // 	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  // 	border: solid 1px #ccc;
  // 	padding: 9px 10px 9px 32px;
  // 	width: 55px;
  //
  // 	-webkit-border-radius: 10em;
  // 	-moz-border-radius: 10em;
  // 	border-radius: 10em;
  //
  // 	-webkit-transition: all .5s;
  // 	-moz-transition: all .5s;
  // 	transition: all .5s;
  // }
  // input[type=search]:focus {
  // 	width: 130px;
  // 	background-color: #fff;
  // 	border-color: #66CC75;
  //
  // 	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  // 	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  // 	box-shadow: 0 0 5px rgba(109,207,246,.5);
  // }
  //
  //
  // input:-moz-placeholder {
  // 	color: #999;
  // }
  // input::-webkit-input-placeholder {
  // 	color: #999;
  // }


}
