<!-- splash screen code  -->
<!-- <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="./assets/images/logo2.gif">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div> -->

<ion-content>

<page-header></page-header>

<ion-grid class="margin-0-padding-0 green-pink">
  <ion-row class="margin-0-padding-0">

    <ion-col  col-sm-12 col-md-8 class="margin-0-padding-0 col-content-mid" >
      <ion-card  class="margin-0-padding-top-0-width-100">
        <ion-slides autoplay="3000" pager loop="true">
          <ion-slide *ngFor="let number of [1,2,3,4]">
            <img src="./assets/images/{{number}}.jpg" />
          </ion-slide>
        </ion-slides>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

  <ion-grid class="pink-green">

    <ion-row>
      <ion-col col-sm-12 col-md-5 class=" col-content-mid">
        <img src="./assets/images/banner.jpg">
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- <div animates #animation="animates" text-center>
    <button ion-button (click)="animation.start({type: 'rubberBand', duration: '1000'})">Click me!</button>
  </div> -->

  <!-- <button ion-button (click)="toggleAnimation()" #myElement> Toggle it! </button> -->


  <!-- <p [@triggerApp]="triggerAnimation">
    yoo!!!!
  </p> -->

  <ion-grid class="green-white">
    <ion-row>
      <ion-col col-sm-3  *ngFor = "let category of categories"  text-wrap col-6 (click)="openCategoryPage(category)">
        <img  [src]="category.image" [@triggerApp]="triggerAnimation" />
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- Animated -->
  <!-- <input [(ngModel)]="queryString" id="search" type="search" placeholder="Search by product name" animated="true" autocomplete="on"> -->
  <ion-row>
    <ion-col col-sm-12 col-md-7 class="col-content-mid">
      <ion-searchbar [(ngModel)]="queryString" id="search" placeholder="Search by product name" animated="true" autocomplete="on"></ion-searchbar>

      <ion-list >
        <ion-item *ngFor="let product of products | SearchPipe: queryString" text-wrap (click)="productDetails(product)" >

          <ion-thumbnail item-left>
            <img [src]="product.featured_src"  />
          </ion-thumbnail>

          <h2> {{ product.title }} </h2>
          <p>
            <!-- <span [innerHTML]="product.short_description.substr(0, 50) + '...'"></span> -->
            <span [innerHTML]="product.price_html"></span>
          </p>

          <button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>

        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
