<ion-header>

  <ion-navbar #navbar >
    <ion-title> {{ product.title }} </ion-title>
  </ion-navbar>

</ion-header>

<page-header></page-header>

<ion-content cache-view="false" >

  <!-- <ion-fab right top edge (click)="openCart()">
    <button ion-fab color="danger"><ion-icon name="cart"></ion-icon></button>
  </ion-fab> -->

  <div *ngIf="productInCart">
    <ion-fab   right middle (click)="showAddedMsg(product)" style="position: fixed">
      <button ion-fab color="secondary"><ion-icon name="heart"></ion-icon></button>
    </ion-fab>
  </div>

<ion-grid style=" background: linear-gradient(#1EBBB4, #E0C1E1, #1EBBB4, white);">
  <ion-row>
    <ion-col col-sm-12 col-md-7 style="margin:auto">

      <ion-card>
        <ion-slides autoplay="3000" pager  loop="true">
          <ion-slide *ngFor="let image of product.images"  >
            <img [src]="image.src" style="margin: auto;"/>
          </ion-slide>
        </ion-slides>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col  col-sm-12 col-md-8 style="margin:auto">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{ product.title }} &nbsp;
            <ion-chip *ngFor="let cat of product.categories" style="margin-left: 5px;">
              <ion-label color="danger"> {{ cat }} </ion-label>
            </ion-chip>
          </ion-card-title>

          <p [innerHTML]="product.description"></p>

          <ion-row>
            <ion-col col-sm-12 col-md-5 style="margin: auto">
              <button ion-button icon-left block outline color="danger" (click)=addToCart(product) >
                <ion-icon name="basket"></ion-icon> {{AddToCart}}
              </button>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
